[submodule "themes/ficurinia"]
	path = themes/ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia
[submodule "themes/hugo-ficurinia"]
	path = themes/hugo-ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia
